{% extends 'receipt/mainModule.html' %}

{% load tags %}

{% block content %}

<div class='container'>
    <h1 class='text-black mt-4 ms-3'>
        receipt details
    </h1>
    <h3 class='text-muted mb-3 ms-3'>
        See detailed information about the receipt
    </h3>
    <div id='receiptInfo'>
        <div class='card-group'>
                <div class='card'>
                    <div class='card-body'>
                        <h5 class='card-title'>
                            Owner
                        </h5>
                        <p class='card-text'>
                            {% if receipt.owner.first_name%}
                                {{receipt.owner.first_name}} {{receipt.owner.last_name}} {% if receipt.owner == user%}(me){% endif %}
                            {% else %}
                                {{receipt.owner.username}} {% if receipt.owner == user%}(me){% endif %}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class='card'>
                    <div class='card-body'>
                        <h5 class='card-title'>
                            Date
                        </h5>
                        <p class='card-text'>
                            {{receipt.date}} {{receipt.time}}
                        </p>
                    </div>
                </div>
                <div class='card'>
                    <div class='card-body'>
                        <h5 class='card-title'>
                            Sum of all items costs
                        </h5>
                        <p class='card-text'>
                            {{receipt.wholeCost|floatformat:2}}
                        </p>
                    </div>
                </div>
            {% if receipt.owner != user %}
                <div class='card'>
                    <div class='card-body'>
                        <h5 class='card-title'>
                            Sum of bought items costs
                        </h5>
                        <p class='card-text'>
                            {{wholeBoughtCost|floatformat:2}}
                        </p>
                    </div>
                </div>
                <div class='card'>
                    <div class='card-body'>
                        <a href={% url 'receipt-manage' group_id receipt.id %} class='card-body text-decoration-none d-flex justify-content-center align-items-center'>
                            <p class='card-text text-muted'>
                                Edit bought items
                            </p>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class='card'>
                    <a href={% url 'receipt-edit' group_id receipt.id %} class='card-body text-decoration-none d-flex justify-content-center align-items-center'>
                        <p class='card-text text-muted'>
                            Edit this receipt
                        </p>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div id='receiptItems' class='mt-3'>
        <table class='table'>
            <thead>
                <tr>
                    <td>
                        Item name
                    </td>
                    <td>
                        Item price
                    </td>
                    <td>
                        Item amount
                    </td>
                    <td>
                        Item cost
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td style='min-width: 100px; max-width:1px' class='overflow-hidden'>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.price|floatformat:'2'}}
                        </td>
                        <td>
                            {{item.amount|cutZeros}}
                        </td>
                        <td>
                            {{item.cost|floatformat:'2'}}
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
