{% extends 'receipt/mainModule.html' %}

{% load tags %}

{% block content %}

<div class='container'>
    <h1 class='text-black mt-4 ms-3'>
        Edit bought details
    </h1>
    <h3 class='text-muted mb-3 ms-3'>
        Edit the amounts of items purchased by you
    </h3>
    <div id='receiptItems' class='mt-3'>
        <form method='post' class='d-flex flex-column'>
            {% csrf_token %}
            {{ formset.management_form }}
            <table class='table'>
                <thead>
                    <tr>
                        <td>
                            Item name
                        </td>
                        <td>
                            Item price
                        </td>
                        <td>
                            Item amount
                        </td>
                        <td>
                            Purchased amount
                        </td>
                    </tr>
                </thead>
                <tbody id='itemContainer'>
                    {% for item, form in items %}
                        <tr>
                                <td> {{ item.name }} </td>
                                <td> {{ item.price }} </td>
                                <td> {{ item.amount }} </td>
                                <td> {{ form.purchasedAmount }} </td>
                            {% for field in form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button type='submit' class='btn btn-primary mt-5'>Submit</button>
        </form>
        {% if formset.errors %}
            <p>An error ocurred while processing form</p>
        {% endif %}
    </div>
</div>

{% endblock %}




{% comment %} <head></head>
<body>
    <a href={% url 'index'%}>Powrot</a>
    <p>Data dodania: {{receipt.date}} {{receipt.time}}</p>
    <p>Koszt całkowity: {{receipt.wholeCost}}</p>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            <tr>
                <th> Nazwa </th>
                <th> Ilość </th>
                <th> Cena </th>
                <th> Koszt </th>
                <th> Kupiona ilość</th>
            </tr>
            {% for item, formset in items %}
            <tr>
                <td> {{item.name}} </td>
                <td> {{item.amount.normalize}} </td>
                <td> {{item.price}} </td>
                <td> {{item.cost}} </td>
                {% for field in formset.visible_fields %}
                    <td> {{field}} </td>
                {% endfor %}
                {% for field in formset.hidden_fields %}
                    {{ field }}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <button type='submit' value='Submit'>Submit</button>
    </form>
</body> {% endcomment %}
